@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
</div>
<div>
    <button type="button" class="btn btn-primary" id="testButton">Test</button>
    <p id="testText">I love CWS!</p>
    <button type="button" class="btn btn-danger" id="cssButton">Change CSS</button>
</div>

